#home-contact-textarea::-webkit-scrollbar-track {
	background-color: #373B40;
}

#home-contact-textarea::-webkit-scrollbar {
	width: 6px;
	background-color: #373B40;
}

#home-contact-textarea::-webkit-scrollbar-thumb {
	border-radius: 12.5px;
	background-color: white;
}
#home-contact-stacks {
	width: 100vw;
}
#home-contact-bubbles {
	max-height: 50vh;
	position: absolute;
	right: 0;
	z-index: 0;
}
#home-contact-upper-layer {
	z-index: 3;	
	position: relative;
}
#home-contact-textarea {
	background-color: #373B40;
	border: none;
	border-radius: 12.5px;
	padding-left: 10px;
	color: white;
	font-size: 1.15em;
	resize: none;
	font-family: "fascinate"
}
#home-contact-form {
	display: flex;
	flex-direction: column;
	gap: 35px;
}
#home-contact-form * {
	width: 45%;	
}
.home-contact-input {
	background-color: #373B40;
	margin-top: 15px;
	padding-left: 15px;
	height: 35px;
	color: white;
	border: none;
	border-radius: 12.5px;
	font-size: 1.15em;
	font-family: "fascinate"
}
@media (max-width: 650px) {
	#home-contact-form * {
		width: 90%;
	}
}
