.shop-item-btn {
	border: none;
	border-radius: 15px;
	color: white;
	padding: 7.5px 15px;
	display: flex;
	justify-content: space-around;
	cursor: pointer;
	height: 35px;
	font-family: "numans"
}
.shop-main-btn-text {
	padding-left: 5px;
}